<html>

<head>
    <title> Bloooger Posts </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>


<div class="nav.container">
    

    <div class="ui menu fixed six item">
        
            <div class="item"> 
                <i class="coffee icon"></i> 
          
                
            </div>
            <a href="/" class="item">Musings over coffee </a>
            <a href="/" class="item">Home </a>
            <a href="/login" class="item">New Post</a>
            <a href="/logout" class="item">Logout</a>
        </div>
    </div>

    </div>